[submodule "rustlings"]
	path = rustlings
	url = https://github.com/ProerLoneW/my-rustlings.git
[submodule "TinyInfiniTensor"]
	path = TinyInfiniTensor
	url = https://github.com/ProerLoneW/TinyInfiniTensor.git
